<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit();">
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-primary" type="submit">Save</button>
          <button class="btn btn-danger" type="button">Cancel</button>
        </div>
      </div>
      <hr>
      <div formGroupName="recipeInfo">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" id="name" class="form-control" formControlName="name" required>
              <span class="help-text" *ngIf="!recipeForm.get('recipeInfo.name').valid 
                            && recipeForm.get('recipeInfo.name').touched">Name
                is required!</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="imagePath">Image URL</label>
              <input type="text" id="imagePath" class="form-control" formControlName="imagePath" required>
              <span class="help-text" *ngIf="!recipeForm.get('recipeInfo.imagePath').valid 
                            && recipeForm.get('recipeInfo.imagePath').touched">Image
                URL is required!</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <img src="" class="img-responsive">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="description">Description</label>
              <textarea type="text" id="description" class="form-control" rows="6" formControlName="description"
                required [appMinlengthValidatorDirective]="descriptionValidator"></textarea>
              <span class="help-text" *ngIf="!recipeForm.get('recipeInfo.description').valid 
                            && recipeForm.get('recipeInfo.description').touched">
                <span *ngIf="recipeForm.get('recipeInfo.description').errors['required']">
                  Description is required!</span>
                  <span *ngIf="recipeForm.get('recipeInfo.description').errors['minLength']">
                      Description should be {{descriptionValidator.minlength}} to {{descriptionValidator.maxlength}} characters long!</span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row" formArrayName="ingredientsArray">
        <div class="col-xs-12" *ngFor="let control of recipeForm.get('ingredientsArray').controls; let i = index">
         <div class="row" [formGroupName]="i">
           <div class="col-xs-8">
             <input class="form-control" type="text" formControlName="name" />
             <span class="help-text" *ngIf="!recipeForm.get('ingredientsArray').controls[i].controls.name.valid
             && recipeForm.get('ingredientsArray').controls[i].controls.name.touched">Ingredient name is required!</span>
           </div>
           <div class="col-xs-2">
            <input class="form-control" type="number" formControlName="amount" />
            <span class="help-text" *ngIf="!recipeForm.get('ingredientsArray').controls[i].controls.amount.valid
            && recipeForm.get('ingredientsArray').controls[i].controls.amount.touched">Ingredient amount is required!</span>
          </div>
          <div class="col-xs-2">
            <button class="btn btn-danger">X</button>
          </div>
         </div>
        </div>
      </div>
    </form>
  </div>
</div>