<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit();">
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-primary" [disabled]="!recipeForm.valid" type="submit">Save</button>
          <button class="btn btn-danger" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <hr>
      <div formGroupName="recipeInfo">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" id="name" class="form-control" formControlName="name" required>
              <span class="help-text" *ngIf="!recipeForm.get('recipeInfo.name').valid 
                            && recipeForm.get('recipeInfo.name').touched">Name
                is required!</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="imagePath">Image URL</label>
              <input type="text" id="imagePath" class="form-control" formControlName="imagePath" required #imageInput>
              <span class="help-text" *ngIf="!recipeForm.get('recipeInfo.imagePath').valid 
                            && recipeForm.get('recipeInfo.imagePath').touched">Image
                URL is required!</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <img [src]="imageInput.value" class="img-responsive">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="description">Description</label>
              <textarea type="text" id="description" class="form-control" rows="6" formControlName="description"
                required></textarea>
                <span *ngIf="!recipeForm.get('recipeInfo.description').valid 
                && recipeForm.get('recipeInfo.description').touched">
                  Description is required!</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div formArrayName="ingredients" class="col-xs-12">
          <div class="row" [formGroupName]="i" style="margin-top:10px;" *ngFor="let control of recipeForm.get('ingredients').controls; let i = index">
            <div class="col-xs-8">
              <input class="form-control" type="text" formControlName="name" />
              <span class="help-text" *ngIf="!recipeForm.get('ingredients').controls[i].controls.name.valid
             && recipeForm.get('ingredients').controls[i].controls.name.touched">Ingredient
                name is required!</span>
            </div>
            <div class="col-xs-2">
              <input class="form-control" type="number" formControlName="amount" />
              <span *ngIf="!recipeForm.get('ingredients').controls[i].controls.amount.valid
              && recipeForm.get('ingredients').controls[i].controls.amount.touched">
              <span class="help-text" *ngIf="recipeForm.get('ingredients').controls[i].controls.amount.errors['required']"
              >Ingredient amount is required!</span>
              <span class="help-text" *ngIf="recipeForm.get('ingredients').controls[i].controls.amount.errors['pattern']"
              >Please enter a valid amount!</span>
              </span>
             
            </div>
            <div class="col-xs-2">
              <button class="btn btn-danger" type="button" (click)="deleteIngredient(i);">X</button>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <button type="button" style="margin-top:10px;" class="btn btn-success" (click)="onAddIngredient();">Add Ingredient</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>