<div class="row">
  <div class="col-xs-12">
    <form #shoppingListForm="ngForm" (ngSubmit)="onSubmit();">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control" name="name"  ngModel required #name="ngModel">
          <span class="help-text" *ngIf="!name.valid && name.touched">Name is required!</span>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input type="number" id="amount" class="form-control" name="amount" ngModel required #amount="ngModel"
            pattern="^[1-9]+[1-9]*$">
          <span class="help-text" *ngIf="!amount.valid && amount.touched">
            <span *ngIf="amount.errors['required']">Amount is required!</span>
            <span *ngIf="amount.errors['pattern']">Please enter a valid amount!</span>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" [disabled]="!shoppingListForm.valid">{{ editMode ? 'Update' : 'Add'}}</button>
          <button class="btn btn-danger" type="button" (click)="deleteIngredient();" *ngIf="editMode">Delete</button>
          <button class="btn btn-primary" type="button" (click)="shoppingListForm.reset(); editMode = false;">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
